@import "colors";

.download {
    .container {
        position: relative;
        margin-top: 720px;
        .content {
            h3 {
            }
            p {
            }
            ul {
                li {
                }
            }
        }
        .image{
            position: absolute;
            left: 50px;

        }
    }
}
