@import "colors";

footer {
    background: url("../../assets/images/bg3.jpg") center top no-repeat;
    padding-top: 140px;
    padding-bottom: 670px;
    .container {
        text-align: center;
        h3 {
        }
        p {
            margin-top: 50px;
            font-size: 16px;
            line-height: 32px;
        }
        a {
            display: inline-block;
            height: 56px;
            line-height: 56px;
            border-radius: 27px;
            background-color: $blue;
            font-weight: bold;
            font-size: 18px;
            margin-top: 60px;
            padding: 0 40px;
            i {
                padding-right: 18px;
                color: #7f97be;
            }
        }
    }
}
