@import "colors";

.information{
    .container{
        ul{
            flex-wrap: wrap;
            gap: 30px;
            li{
                display: inline-block;
                width: 360px;
                padding-left: 95px;
                h4{

                }
                p{

                }
            }
        }
    }
}